COMPOSE_PROJECT_NAME=open-company-brain
BRAIN_HTTP_PORT=8080
WORKER_HTTP_PORT=8090
POSTGRES_HOST_PORT=54329
QDRANT_HTTP_PORT=6333
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
REDIS_HOST_PORT=6379
OLLAMA_HOST_PORT=11434

POSTGRES_DB=brain
POSTGRES_USER=brain
POSTGRES_PASSWORD=change-me-postgres

MINIO_ROOT_USER=brain-admin
MINIO_ROOT_PASSWORD=change-me-minio-password
MINIO_BUCKET=company-brain

REDIS_PASSWORD=change-me-redis

BRAIN_LOG_LEVEL=info
BRAIN_CONFIG_PATH=/app/config/brain.yaml
